<!-- views/partials/header.ejs -->

<nav role="navigation">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </li>
    </ul>
</nav>


   
    
   
    
    