<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Profile Page | WebApp</title>
</head>
<body>
    <h1>Profile Page</h1>
    <!-- profile pic left -->
    <img src="dolphin.jpg" style="width:200px">           
    <!-- name, details, activity right -->
    <ul>
        <li>Guirdelle Blaise</li>
        <li>Details: (location)</li>
        <li>Activity: Joined Oct 2019</li>
        <!-- link to profile settings -->
        <li><a href="profile_settings.html">Edit Profile</a></li>
    </ul>
    <!-- edit profile = link to the profile settings -->
    <!-- favorite books -->
    <h2>Favorite Books</h2>
    <ul>
        <li>Cinder</li>
        <li>Scarlet</li>
        <li>Cress</li>
        <li>Winter</li>
    </ul>
    <!-- Current Reading Goals -->
    <h2>Current Reading Goals</h2>
    <ul>
        <li>10 Books in 2019</li>
        <li>Try a New Genre</li>
        <li>Finish Lunar Chronicles</li>
    </ul>
    <!-- Reviews -->
    <h2>Reviews</h2>
    <ul>
        <li>Book -> rating</li>
    </ul>
</body>
</html>