<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Profile Page | WebApp</title>
</head>
<body>
    <div class="center">
    <h1>Profile Page</h1>
    <!-- profile pic left -->
    <img src="dolphin.jpg" style="width:200px">           
    <!-- name, details, activity right -->
    <p>
        Guirdelle Blaise<br>
        Details: (location)<br>
        Activity: Joined Oct 2019<br>
        <!-- link to profile settings -->
        <a href="profile_settings.html">Edit Profile</a>
    </p>
    <!-- edit profile = link to the profile settings -->
    <!-- favorite books -->
    <h2>Favorite Books</h2>
    <p>
        Cinder<br>
        Scarlet<br>
        Cress<br>
        Winter<br>
    </p>
    <!-- Current Reading Goals -->
    <h2>Current Reading Goals</h2>
    <p>
        10 Books in 2019<br>
        Try a New Genre<br>
        Finish Lunar Chronicles<br>
    </p>
    <!-- Reviews -->
    <h2>Reviews</h2>
    <p>
        Book -> rating<br>
    </p>
</div>
</body>
</html>