<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Edit Profile | WebApp</title>
</head>
<body>
    <div class="center">
    <h1>Edit Profile</h1>
    <h3>Login Credentials</h3>
    <form action="/addUser" method="POST">
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="text" name="password"><br>
        <button type="submit" class="btn btn-default" id="login">Login</button>
    </form>
    
</div>
</body>
</html>