<!-- views/pages/bookDetails.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/header.ejs %>
        <script type="text/javascript" src="../scripts/stars.js"></script>
        <script type="text/javascript" src="../scripts/validateReview.js"></script>
    </head>
    <body class="container-fluid">
        <main>
            <h1>Book Details</h1>
            <p>Book: 5db33704440f5c45987cfe48</p>

            <h1>reviews list</h1>
            <hr>
            <% reviews.forEach(review => {%>
                <p class="rating">Rating: <%= review.Rating %></p>
                <p class="date">Date: <%= review.Date %></p>
                <p class="comment">Comment: <%= review.Comment %> </p>
                <p class="anon">Anonymous: <%= review.Anonymous %></p>
                <hr>
            <% })%>
                   
        </main>

        <footer class="footer">
            <% include partials/footer.ejs %>
        </footer>

    </body>
</html>