
<!DOCTYPE html>
<html>
    <head>
    <% include partials/header.ejs %>
 
  <title>Cart | Geek Text</title>
    </head>
    
    <body class="container-fluid">
       
        <h1 align="center" style="padding: 20px; font: LoTimes New Roman;">Thank you For Shopping with us!</h1>

              
            <div class="jumbotron" align="center">
                <p align="center" style="padding: 10px;">
                <h5>You will receive confirmation email shortly<h5></p>
                <p align="center" style="padding: 10px;">
                    <h5>Feel free to Log out or continue <a align="center" href="/bookList">Browsing</a></h5> 
                </p>
            </div>
                
            <hr></hr>
            
        
        <% include partials/footer.ejs %>
    </body>
   
</html>