<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Register | WebApp</title>
</head>
<body>
    <div class="center">
    <h1>Register</h1>
    <% if(message){ %>
        <%= message %>
    <% } %>
    <form action="/register" method="POST">
        First Name:<br>
        <input type="text" name="firstname"><br>
        Last Name:<br>
        <input type="text" name="lastname"><br>
        <p><strong>Home Address:</strong></p>
        Address Line 1:<br>
        <input type="text" name="email"><br>
        Address Line 2:<br>
        <input type="text" name="email"><br>
        City/Town:<br>
        <input type="text" name="email"><br>
        State/Province/Region:<br>
        <input type="text" name="email"><br>
        Zip/Postal Code:<br>
        <input type="text" name="email"><br>
        Email:<br>
        <input type="text" name="email"><br>
        Password:<br>
        <input type="text" name="password"><br>
        <button type="submit" class="btn btn-default" id="register">Register</button>
    </form>
    
</div>
</body>
</html>