<h1>reviews list</h1>
<hr>
<% reviews.forEach(review => {%>
    <p class="rating">Rating: <%= review.Rating %></p>
    <p class="date">Date: <%= review.Date %></p>
    <p class="comment">Comment: <%= review.Comment %> </p>
    <p class="anon">Anonymous: <%= review.Anonymous %></p>
    <hr>
<% })%>